body{

                background: url(pic/textures-large-61.jpg) no-repeat center center fixed;
                background-size : cover;
                -webkit-background-size:cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                cursor: url(http://cur.cursors-4u.net/games/gam-2/gam199.cur), auto !important;
