body{

                background: url(pic/textures-large-61.jpg) no-repeat center center fixed;
                background-size : cover;
                -webkit-background-size:cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                cursor: url(http://ani.cursors-4u.net/people/peo-9/peo1061.cur), auto !important;
                text-shadow: 3px green;
            }

}
.sp {
    background-color: blue;
    border: 1px blue;
}
div{
    height: 100px;
}
.a {position: relative;
    left: 100px;
    font-size: 130%;
}
.draw{
    opacity:80%;
}
.b {
    position: relative;
    left: 150px;
    font-size: 160%;
    }
.c {
    position: relative;
    left: 200px;
    font-size: 220%;
}
.d {
    position: relative;
    left: 300px;
    font-size: 280%;

}
.ai{
    position: relative;
    left: -100px;
    font-size: 130%;
}
.bi{
    position: relative;
    left: -150px;
    font-size: 160%;
}
.ci{
    position: relative;
    left: -200px;
    font-size: 230%;

}
.ci1{
    position: relative;
    left: -200px;
    font-size: 230%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.di{
    position: relative;
    left: -300px;
    font-size: 280%;
}
h1 {
    font-size: 300%;
    color: black;
    text-shadow: 3px 3px 2px white;
    font-family: 'Orbitron', sans-serif;
}
font-family: 'Orbitron', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Press Start 2P', cursive;
.tad {
    background: url(pic/4.png) no-repeat center center fixed;
    background-size: cover;
}
.border{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.upper{
    position: relative;
    top: 1000px;
}
.upper1{
      position: relative;
    top: 4px;
    left: 400px;
}
.upper2{
      position: relative;
    top: 4px;
    left: 420px;
}
.upper3{
      position: relative;
    top: 100px;
    left: -420px;
}
.low{
    position:relative;
    top:1090%;
    left: 20%;
}
.low2{
    position:relative;
    top:1090%;
    left: -20%;
}
.di1{
    position: relative;
    left: -400px;
    font-size: 250%;
}
.drago
{
    position:relative;
    top 5550px;
}
.dragon{
 cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1156.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1156.png), auto !important;}
