.squashimax{
    position:relative;
    top: -710px;

      }
.squashimax1{
    position:absolute;
     left: 12px;
    top 4px;
     }
.squashimax2{
 position:relative;
    top: -210px;
      }
